service:
    name: apr-calculator

package:
  excludeDevDependencies: true
  exclude:
    - reports/**
    - test/**
    - development/**
    - src/**
    - ./*
    - ./.**/**

provider:
    name: aws
    runtime: nodejs12.x
    region: ${env:AWS_REGION, 'us-east-1'}
    stage: ${opt:stage, 'local'}
    environment:
        NODE_ENV: ${self:provider.stage}
    apiGateway:
        minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
    iamRoleStatements:
        - Effect: Allow
          Action:
              - lambda:*
          Resource: '*'

        - Effect: Allow
          Action:
              - logs:CreateLogGroup
              - logs:CreateLogStream
              - logs:PutLogEvents
          Resource: 'arn:aws:logs:*:*:*'

plugins:
    - serverless-offline

functions: 
  rate:
    handler: dist/interfaces/index.handler
    events:
      - http:
          method: post
          path: /apr-calculator/v1/rate